body {
  font-family: 'Noto Serif JP', serif;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 98vh;
}

a:link, a:visited {
  color: black;
}

header {
  margin-top: -0.5rem;
  font-size: 2rem;
  font-weight: 900;
}

footer {
  margin-top: 30px;
    font-family: 'Noto Serif JP', serif;
}

footer p {
    margin: 0px;
}
